
*{ padding:10px; margin:0; transition:0.3s; 
    --sfondo:#80808050; --tema:#00ff00;background:var(--sfondo);color:var(--tema); 
}

html{background: #000000;} 
header,nav,section,article,footer,aside{ border-radius:5px; margin:0 0 10px 0;}
    header{ padding:100px 10px 10px 10px; background: linear-gradient(red, blue);} 
    footer{ padding:100px 10px 100px 10px;}
    nav{position:sticky;top:0; display: flex;justify-content: space-between; background-color: #000000;}
    section,footer{display: flex;justify-content:center;}


h1{border-bottom:1px solid var(--tema); margin:0 0 10px 0;}
input,button{ border:1px solid transparent; border-radius: 5px; }
        

input:hover,button:hover{ background:var(--tema);color:black;  } button:after{background: #000000;}
a,button{cursor: pointer;} aside button{width:100%; display: block;margin-bottom:5px;}


@keyframes animation {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}.animation{animation-name: animation;    animation-duration: 30s; animation-iteration-count:infinite;}

.dropdown{position: relative;display: inline-block; padding:0;}
    .dropdown-c{position: absolute;display: none;left:-10px;z-index: 1;  
        padding:5px 0;width: max-content;}
        .dropdown-c *{ display: block; border-radius:0;}
    .dropdown:hover .dropdown-c{display: block;}
/*seleziona le classi dropdown-c all'interno di dropdown, quando quest'ultimo viene hoverato*/
